{% extends "base.html" %}
{% block title %}Order {{orderId}}{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src = "/hndjs/a_order.js"></script>
{% endblock %}
{% block content %}
    <div class = "container">
    	<h2>Order {{orderId}}</h2>
    	<hr />
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Item name</th>
    				<th>Price</th>
    				<th>Quantity</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for row in contents %}
    				<tr>
				<td>{{row[2]}}</td>
              			<td>{{row[3]}}</td>
	      			<td>{{row[4]}}</td>
            			</tr>
 	  		{% endfor %}
 	   	</tbody>
       </table>
       {% if order[3] == 'unplaced' %}	
         <button href ="/orders/{{orderId}}" type = "button" class = "btn btn-default" id = "placeButton">Place order</button>
       {% endif %}
    </div>
{% endblock %} 
  	
