{% extends "base.html" %}
{% block title %}{{rest_name}}{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/hndcss/a_rest.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
	<script src="/hndjs/a_rest.js"></script>
{% endblock %}
{% block content %}
  <div class="container">
      <h2>{{rest_name}}</h2>
      <div id="info">
          <hr />
          <h3>Basic information</h3>
          <p>Phone: {{phone}}</p>
          <p>Address: {{address}}</p>
          <p>Longitude: {{lng}}</p>
          <p>Latitude: {{lat}}</p>
          <p>URL: <a href="{{url}}">{{url}}</a></p>
      </div>
      <div id="hours">
      	<hr />
      	<h3>Hours</h3>
	{% for hour in hours %}
		<p class="hour_list">{{hour[1]}}: {{hour[2]}} - {{hour[3]}} </p>
	{% endfor %}
      </div>
      <hr />
      <h3 id="menus">Menus</h3>
      <div id="menu_list">
        <div class="btn-group"> 
          {% for menu in menus %}
            <button type="button"  class="one_menu btn btn-warning" id="/menus/{{menu[0]}}">
		{{menu[1]}}
	    </button>
          {% endfor %}
        </div>
        <div id="section-sublist" class="tab-content"></div>
      </div>
  </div>  
{% endblock %}
