{% extends "base.html" %}
{% block title %}{{sec[1]}}{% endblock %}
{% block head %}
  {{ super() }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
  <script src="/hndjs/items.js"></script>
{% endblock %}
{% block content %}
    <!--alert message-->
    <div id="alerts"></div>

    <!--side panel-->
    <div id="order-panel" class="container-fluid">
      <form id="item-add-form" class="form-horizontal" role="form">
        <div class="form-group">
          <button id="order-panel-close-button" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="text-center">Add Item</h3>
          <h4 id="item-name"></h4> <p id="item-description"></p>
        </div>
        <input id="item-id-input" class="form-control" type="hidden"/>
        <div class="form-group">
          <label for="item-quantity-input" class="control-label">Quantity</label>
          <input
             id="item-quantity-input" class="form-control"
             type="text" name="quantity"
             value="1"/>
          <button type="submit" class="btn btn-default">Add to Order</button>
        </div>
      </form>
    </div>

    <!--main body-->
    <div class="container">
      <h2>{{sec[1]}}</h2>
      <hr/>
      <table class="table">
          <thead>
          	<tr>
              		<th>Item name</th>
 	    	  	<th>Description</th>
	    	  	<th>Price(USD)</th>
          	</tr>
          </thead>
          <tbody>
	    {% for item in items %}
            	<tr class = "item_row" id = "{{item[0]}}">
	      		<td class = "item-name">{{item[1]}}</td>
              		<td class = "item-description">{{item[3]}}</td>
	      		<td class = "item-price">{{item[2]}}</td>
            	</tr>
	    {% endfor %}
 	  </tbody>
      </table>
    </div>
{% endblock %}
