<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="stylesheet" href="/hndcss/main.css" />
	<title>{% block title %}akahs.net{% endblock %}</title>
	{% endblock %}
</head>
<body>
    <nav id = 'navbar' class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
                <a class="navbar-brand" href="/">HungryND</a>
        </div>
        <ul class="nav navbar-nav navbar">
          <li><a href="/orders">Orders</a></li>
          <li><a href="/restaurants">Restaurants</a></li>
          <li><a href="#">Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if signed_in %}
            <li><a href="/users/logout"> Sign out</a></li>
	  {% else %}	
            <li><a href="/users/registration"> Sign up</a></li>
            <li><a href="/users/login"> Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
