{% extends "base.html" %}
{% block title %}HungryND{% endblock %}
{% block content %}
	{{ super() }}
	 <div class="jumbotron">
		<div class="container">
			<h1>Hungry ND</h1>
			<p>Feel hungry? Check out the restaurants near you...</p>
		</div>
	</div>
{% endblock %}
