{% extends "base.html" %}
{% block title %}HungryND sign in{% endblock %}
{% block head %}
    {{ super() }}
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="/hndjs/userlogin.js"></script>
    <meta charset="utf-8">
    <meta name="description" content="User Login for akahs.net">
    <meta name="author" content="Fighting Irish Software LLC">
    <link href="/hndcss/userlogin.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <header>
      <h1>Sign In</h1>
    </header>
    <main>
	      <form id="sign-in-form" method="POST" action="/users/login" enctype="application/json" target="">
		<div>
		  <label for="email-input">Email</label>
		  <input id="email-input" type="email" name="username" required>
		  <div id="email-error" class="validation-error"></div>
		</div>
		<div>
		  <label for="pwd-input">Password</label>
		  <input id="pwd-input" type="password" name="password" required>
		  <div id="password-error" class="validation-error"></div>
		</div>
		<input type="submit" value="Sign In">
	      </form>
    </main>
{% endblock %}



