{% extends "base.html" %}
{% block title %}Your orders{% endblock %}
{% block content %}
    <div class = "container">
    	<h2>Your orders</h2>
    	<hr />
    	<table class="table">
    		<thead>
    			<tr>
    				<th>Order ID</th>
    				<th>Total</th>
    				<th>Status</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for order in orders %}
    				<tr>
      				<td><a href="/orders/{{order[0]}}">{{order[0]}}</a></td>
     				<td>{{order[2]}}</td>
      				<td>{{order[3]}}</td>
       				</tr>
  			{% endfor %}
  	  	</tbody>
       </table>
    </div>
{% endblock %}  	
