{% extends "base.html" %}
{% block title %}User Registration{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="registration.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
        <script src="registration.js"></script>
{% endblock %}
{% block content %}
      <div id="registration-panel" class="container">
        <h1>User registration</h1>
        <hr />
        <form id="user-add-form" class="form-horizontal" role="form" method="POST" action="/users/registration" enctype="application/json" target="">
          <div class="form-group">
            <label class="control-label col-md-2" for="user-name-input">Name:</label>
            <div class="col-md-10">
              <input type="text" class="form-control" id="user-name-input" name="name"  placeholder="Enter name" required='True'/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-email-input">Email:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="user-email-input" name="email" placeholder="Enter email" required='True'/>
            </div>
            <div id="email-error" class="validation-error col-sm-offset-2 col-sm-10"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-password-input">Password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="user-password-input" name="password" placeholder="Enter password" required='True'/>
            </div>
            <div id="password-error" class="validation-error col-sm-offset-2 col-sm-10"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="confirm-password-input">Confirm password:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="confirm-password-input" placeholder="Enter password" required='True'/>
            </div>
            <div id="confirm-password-error" class="validation-error col-sm-offset-2 col-sm-10"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-phone-input">Phone:</label>
            <div class="col-sm-10">
              <input type="tel" class="form-control" id="user-phone-input" name="phone" placeholder="Enter phone number" required='True'/>
            </div>
            <div id="phone-error" class="validation-error col-sm-offset-2 col-sm-10"></div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="user-address-input">Address:</label>
            <div class="col-sm-10">
              <input type="add" class="form-control" id="user-address-input" name="address" placeholder="Enter address" required='True'/>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form>
      </div>
{% endblock %}
 
