{% extends "base.html" %}
{% block title %}Restaurants{% endblock %}
{% block content %}
	<div class="container">
    		<h2>Restaurants around you</h2>
    		<hr/>
		<ul class="list-group restaurant-list">
			{% for tuple in restaurants %}
				<a class="list-group-item" href="/restaurants/{{tuple[0]}}">
					{{tuple[1]}}
				</a>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
